<% content_for :center_column do %>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      最近提问
    </div>
    <div class='panel-body'>
      <%= render 'posts/list', posts: @user.posts %>
    </div>
  </div>
<% end %>

<% content_for :right_column do %>
  <div class='panel panel-default'>
    <div class='panel-body center'>
      <ul class='vertical-clean-list'>
        <li><%= image_tag @user.avatar.url(:medium) %></li>
        <li><%= @user.username %></li>
      </ul>
    </div>
  </div>
<% end %>
